<form (ngSubmit)="onSubmit()">
  <div>
    <label for="first"> First number </label>
    <input type="number" name="first" [(ngModel)]="first" id="first" placeholder="first number">
  </div>
  <div>
    <label> Second number </label>
    <input type="number" name="second" [(ngModel)]="second" id="second" placeholder="second number">
  </div>
  <div>
  <label for="name"> name </label>
  <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="name">
  </div>
  <div>
    <label> fullname </label>
    <input type="text" name="fullname" [(ngModel)]="fullname" id="fullname" placeholder="fullname">
  </div>
  <div>
  <label for="name"> description </label>
  <input type="text" name="description" [(ngModel)]="description" id="description" placeholder="description">
  </div>
  <div>
    <label> ownerType </label>
    <input type="text" name="ownerType" [(ngModel)]="ownerType" id="ownerType" placeholder="ownerType">
  </div>
  <div>
    <label> ticketType </label>
    <input type="text" name="ticketType" [(ngModel)]="ticketType" id="ticketType" placeholder="ticketType">
  </div>
  <input type="submit" value="calculate">
  <div>
  <label> Result </label>
    <p>{{resultDisplay}}</p>
  </div>
</form>
